<mat-toolbar class="main_data_table">
  <div>
    <span>User Management</span>
  </div>
  <span class="example-spacer"></span>
  <div class="main_table_filter">
    <mat-form-field [floatLabel]="'never'">
      <input matInput (keyup)="filter($event)" placeholder="Search users" #input>
    </mat-form-field>
  </div>
  <div class="main_table_btns">
    <button mat-button>
      <i class="bi bi-plus-circle"></i><a routerLink='/home/add-user'>Add New User</a>
    </button>
    <button mat-button [matMenuTriggerFor]="settings"><i class="bi bi-gear-wide"></i> Settings</button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item>History</button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="mat-elevation-z8 main_data_table_secondary_sec">
  <table mat-table [dataSource]="store" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element" class="datatable_slno">{{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name" class="main_data_table_secondary_sec">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"><img src="assets\images\user_profile.jpg" alt="">{{element.fname}}
        {{element.lname}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="pn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.pn}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action" class="main_datatable_action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let element">
        <section class="grouplist_crud_btns">
          <button mat-button (click)="viewUser(element)" class="btn_add"><i class="bi bi-eye-fill"></i></button>
          <button mat-button class="btn_edit"><i class="bi bi-pencil-square"></i></button>
          <button mat-button (click)="openDialog('Delete',element)" class="btn_del"><i class="bi bi-trash"></i></button>
          <button mat-icon-button class="btn_newitems" [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeuserPassword(element)">
              <mat-icon>lock_open</mat-icon>
              <span>Change Password</span>
            </button>
            <button mat-menu-item>
              <mat-icon>block</mat-icon>
              <span>Block User</span>
            </button>
          </mat-menu>
        </section>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,15,20] " showFirstLastButtons></mat-paginator>
</div>
