<div class="add_user_section">
  <mat-card>
    <form class="add_user_form" action="" [formGroup]="user">
      <section class="user_sec_main">
        <p><span>User Details</span></p>
        <section class="user_profile_sec">
          <div class="upload-profile">
            <div class="file-upload">
              <img [src]="imageURL" alt="profile pic">
              <input #file type="file" name="somename" (change)="fileChange(file.files)" formControlName="profile"
                accept="image/png, image/jpeg">
              <mat-error *ngIf="formFieldValidator('profile')">
                <span *ngIf="formFieldErrors('profile')?.required">Profile required</span>
              </mat-error>
            </div>
          </div>
        </section>
        <section class="add_user_form_field">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput type="text" placeholder="Enter Id" formControlName="id" required>
                <mat-error *ngIf="formFieldValidator('id')">
                  <span *ngIf="formFieldErrors('id')?.required">Field Cantnot be empty</span>
                  <span *ngIf="formFieldErrors('id')?.pattern">Should be a number</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <input matInput type="text" placeholder="First Name" formControlName="fname" required>
                <mat-error *ngIf="formFieldValidator('fname')">
                  <span *ngIf="formFieldErrors('fname')?.required">Field Cannot be empty</span>
                  <span *ngIf="formFieldErrors('fname')?.pattern">Should be a characters</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <input matInput type="text" placeholder="Last Name" formControlName="lname" required>
                <mat-error *ngIf="formFieldValidator('lname')">
                  <span *ngIf="formFieldErrors('lname')?.required">Field Cannot be empty</span>
                  <span *ngIf="formFieldErrors('lname')?.pattern">Should be a characters</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput type="text" placeholder="Enter Phone number" formControlName="pn" maxlength="10"
                  required>
                <mat-error *ngIf="formFieldValidator('pn')">
                  <span *ngIf="formFieldErrors('pn')?.required">Field Cannot be empty</span>
                  <span *ngIf="formFieldErrors('pn')?.pattern">Should be a number</span>
                  <span *ngIf="formFieldErrors('pn')?.minlength">Phone number should be 10 numbers</span>
                </mat-error>
                <!-- <mat-icon matSuffix> phone</mat-icon> -->
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <input matInput type="email" placeholder="Enter Mail" formControlName="email" required>
                <mat-error *ngIf="formFieldValidator('email')">
                  <span *ngIf="formFieldErrors('email')?.required">Field Cannot be empty</span>
                  <span *ngIf="formFieldErrors('email')?.email">Should be valid email</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Groups</mat-label>
                <mat-select formControlName="groups" required>
                  <mat-option *ngFor="let group1 of groups" [value]="group1.value">
                    {{group1.viewValue}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="formFieldValidator('groups')">
                  <span *ngIf="formFieldErrors('groups')?.required">Field Cannot be empty</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput [type]="hide? 'password':'text'" placeholder="Password" formControlName="pwd"
                  autocomplete="on" required>
                <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria.label]="'Hide Password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formFieldValidator('pwd')">
                  <span *ngIf="formFieldErrors('pwd')?.required">Field Cannot be empty</span>
                  <span *ngIf="formFieldErrors('pwd')?.minlength">Password should be minimum 6 characters</span>
                  <span *ngIf="formFieldErrors('pwd')?.maxlength">Password Should be maximum 12 characters </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <input matInput [type]="hide? 'password':'text'" placeholder="Confirm Password" formControlName="cpwd"
                  autocomplete="on" required>
                <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria.label]="'Hide Password'"
                  [attr.aria.pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formFieldValidator('cpwd')">
                  <span *ngIf="formFieldErrors('cpwd')?.required">Field Cannot be empty</span>
                  <span *ngIf="user.controls['cpwd'].errors?.mustMatch">Passwords must match</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Choose Organisation</mat-label>
                <mat-select formControlName="org" formControlName="org" required>
                  <mat-option *ngFor="let org1 of org" [value]="org1.value">
                    {{org1.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formFieldValidator('org')">
                  <span *ngIf="formFieldErrors('org')?.required">Field Cannot be empty</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </section>
        <section class="user_sec_main">
          <div class="row">
            <div class="col-sm-12">
              <section class="user_sec_permissions">
                <p><span>Permissions</span></p>
                <div>
                  <mat-checkbox> has permission to access the entire group user has permission to access the entire
                    group</mat-checkbox>
                </div>
                <div>
                  <mat-checkbox>user has permission to access the entire group user has permission to access the entire
                    group</mat-checkbox>
                </div>
                <div>
                  <mat-checkbox>user has permission to access the entire group user has permission to access the entire
                    group</mat-checkbox>
                </div>
              </section>
            </div>
          </div>
        </section>
        <section class="add_user_btns">
          <button mat-raised-button (click)="cancel()" class="add_user_can_btn">cancel</button>
          <button mat-raised-button (click)="add()" [disabled]="user.invalid" color="primary">submit</button>
        </section>
      </section>
    </form>
  </mat-card>
</div>
