<div class="add_user_section">
  <mat-card>
    <form [formGroup]="user" class="add_user_form" action="">
      <section class="user_sec_main">
        <p><span>User Details</span></p>
        <section class="user_profile_sec">
          <input type="file" id="profile_upload" formControlName="profile" accept=".png,.jpeg,.jpg">
          <div class="add_user_icon">
            <i class="bi bi-upload"></i>
          </div>
          <p><button mat-button>upload photo</button> </p>
        </section>
        <section class="add_user_form_field">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput type="text" placeholder="Enter Id" formControlName="id" required>
                <mat-error *ngIf="formFieldValidator('id')">
                  <span *ngIf="formFieldErrors('id')?.required">Field Cannot Be Empty</span>
                  <span *ngIf="formFieldErrors('id')?.pattern">should be a number</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <input matInput type="text" placeholder="First Name" formControlName="fname" required>
                <mat-error *ngIf="formFieldValidator('fname')">
                  <span *ngIf="formFieldErrors('fname')?.required">Field Cannot Be Empty</span>
                  <span *ngIf="formFieldErrors('fname')?.pattern">should be a characters</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <input matInput type="text" placeholder="Last Name" formControlName="lname" required>
                <mat-error *ngIf="formFieldValidator('lname')">
                  <span *ngIf="formFieldErrors('lname')?.required">Field Cannot Be Empty</span>
                  <span *ngIf="formFieldErrors('lname')?.pattern">should be a characters</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput type="text" placeholder="Enter Phone number" formControlName="pn" maxlength="10"
                  required>
                <mat-error *ngIf="formFieldValidator('pn')">
                  <span *ngIf="formFieldErrors('pn')?.required">Field Cannot Be Empty</span>
                  <span *ngIf="formFieldErrors('pn')?.pattern">should be a number</span>
                  <span *ngIf="formFieldErrors('pn')?.maxlength">Phone number should be 10 numbers</span>
                </mat-error>

                <mat-icon matSuffix> phone</mat-icon>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <input matInput type="email" placeholder="Enter Email" formControlName="email" required>
                <mat-error *ngIf="formFieldValidator('email')">
                  <span *ngIf="formFieldErrors('email')?.required">Field Cannot Be Empty</span>
                  <span *ngIf="formFieldErrors('email')?.email">should be a valid email</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Groups</mat-label>
                <mat-select formControlName="groups" required>
                  <mat-option *ngFor="let group1 of groups" [value]="group1.value">
                    {{group1.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formFieldValidator('groups')">
                  <span *ngIf="formFieldErrors('groups')?.required">Field Cannot Be Empty</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="pwd"
                  autocomplete="on" required>
                <button mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formFieldValidator('pwd')">
                  <span *ngIf="formFieldErrors('pwd')?.required">Field Cannot Be Empty</span>
                  <span *ngIf="formFieldErrors('pwd')?.minlength">Password should be minimum 6 characters</span>
                  <span *ngIf="formFieldErrors('pwd')?.maxlength">Password should be maximum 12 characters</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm Password"
                  formControlName="cpwd" autocomplete="on" required>
                <button mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formFieldValidator('cpwd')">
                  <span *ngIf="formFieldErrors('cpwd')?.required">Field Cannot Be Empty</span>
                  <span *ngIf="user.controls['cpwd'].errors?.mustMatch">Passwords must match</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Choose Organisation</mat-label>
                <mat-select formControlName="org" required>
                  <mat-option *ngFor="let org1 of org" [value]="org1.value">
                    {{org1.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formFieldValidator('org')">
                  <span *ngIf="formFieldErrors('org')?.required">Field Cannot Be Empty</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </section>
        <section class="user_sec_main">
          <div class="row">
            <div class="col-sm-12">
              <section class="user_sec_permissions">
                <p><span>Permissions</span></p>
                <div>
                  <mat-checkbox> has permission to access the entire group user has permission to access the entire
                    group</mat-checkbox>
                </div>
                <div>
                  <mat-checkbox>user has permission to access the entire group user has permission to access the entire
                    group</mat-checkbox>
                </div>
                <div>
                  <mat-checkbox>user has permission to access the entire group user has permission to access the entire
                    group</mat-checkbox>
                </div>
              </section>
            </div>
          </div>
        </section>
        <section class="add_user_btns">
          <button (click)="cancel()" mat-button class="add_user_can_btn">Cancel</button>
          <button (click)="add()" [disabled]="user.invalid" mat-raised-button color="primary">Submit</button>
        </section>
      </section>
    </form>
  </mat-card>
</div>
