<div class="user_view">
    <p mat-dialog-title><span>User Details</span></p>
    <div mat-dialog-content>
    <div class="row">
        <div class="col-4">
            <section class="user_view_img_sec">
                <img src="assets\images\group_img.jpg"  alt="user_view_img">
                <div class="user_profile_view_text">
                    <h4>123456</h4>
                    <h4>Akhil Kumar</h4>
                  </div>
            </section>
        </div>
        <div class="col">
<div class="row">
    <div class="col-6">
        <section class="user_details">
            <p>Email</p>
            <span>abcd1234@gmail.comssdvd</span>    
        </section>  
    </div>
    <div class="col-6">
        <section class="user_details">
            <p>phone</p>
            <span>+91 1234567897</span>    
        </section>  
    </div>
    <div class="col-6">
        <section class="user_details">
            <p>Department</p>
            <span>communications</span>    
        </section>  
    </div>
    <div class="col-6">
        <section class="user_details">
            <p>Password</p>
            <span>xyz123a4</span>    
        </section>  
    </div>
    <div class="col-6">
        <section class="user_details">
            <p>Groups</p>
            <span>Group-A</span>    
            <span>Group-B</span>    
            <span>Group-A</span>    
        </section>  
    </div>
    <div class="col-6">
        <section class="user_details">
            <p>Password</p>
            <span>xyz123a4</span>    
        </section>  
    </div>
</div>
 </div>
 </div>
</div>
</div>
