    <!-- modal -->
    <!-- <div class="modal custom fade" id="user_view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User View</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div> -->
           <!--  <div class="modal-body">
              <div class="row">
                  <div class="col-sm-4">
                    <div class="text-center user_profile_view">
                        <img src="/images/ayo-ogunseinde-sibVwORYqs0-unsplash (1).jpg"  alt="...">
                        <div class="user_profile_view_text">
                          <h4>123456</h4>
                          <h4>Akhil Kumar</h4>
                           <a href="/adduser.html" class="p-2"><i class="fa  fa-pencil-square-o" aria-hidden="true"></i></a>
                           <a href="#" class="btn chng_pass" title="Reset password" data-toggle="modal" data-target="#reset_password"><i class="fa fa-unlock-alt" aria-hidden="true"></i></a>
                           <a href="#blockusermodal" class="btn block" title="Block User" data-toggle="modal"><i class="fa fa-ban" aria-hidden="true"></i></a>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="user_profile_information">
                        <h4>Information</h6>
                            <span></span>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Email</p>
                                <h6>rntng@gmail.com</h6>
                            </div>
                            <div class="col-sm-6">
                                <p>Phone</p>
                                <h6>98979989898</h6>
                            </div>
                  </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Role</p>
                                <h6>Designer</h6>
                            </div>
                            <div class="col-sm-6">
                                <p>Password</p>
                                <h6>abcd1234@</h6>
                            </div>
                  </div>
              </div>
                    <div class="user_profile_information">
                        <h4>Groups & Permissions</h6>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Groups</p>
                                <h6>Group-A</h6>
                                <h6>Group-D</h6>
                            </div>
                  </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Permissions</p>
                                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
                                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
                                <h6>Group-D</h6>
                            </div>
                  </div>
              </div>
            </div> -->
          <!-- </div>
        </div> 
</div> -->
