<section class="create_user_main">
  <p><span>Add users to group</span></p>
  <section class="create_group_main">
    <mat-form-field [floatLabel]="'never'" style="width: 100%;">
      <input matInput placeholder="search for users">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-card class="user_card">
      <img src="assets\images\user_profile.jpg" alt="">
      <span>user name</span>
      <button mat-raised-button><i class="bi bi-plus fa-2x"></i> Add user</button>
    </mat-card>
    <mat-card class="user_card">
      <img src="assets\images\user_profile.jpg" alt="">
      <span>user name</span>
      <button mat-raised-button><i class="bi bi-check"></i> Added</button>
    </mat-card>
  </section>
</section>
