
        <div class="left_nav_main">
            <section class="left_nav">
                <h4>Dashboard</h4>
                <section class="left_nav_sec">
                    <p><a href="#">
                        <i class="bi bi-person"></i>Users
                    </a></p>
                    <button mat-button  class="left_nav_btn"><i class="bi bi-slash-circle"></i>Block</button>
                </section>
                <section class="left_nav_sec">
                    <p><a href="#">
                        <i class="bi bi-people"></i>Groups
                    </a></p>
                    <button mat-button (click)='openDialog()'><i class="bi bi-plus-circle"></i>Create group</button>
                    <button mat-button [matMenuTriggerFor]="grouplist" #menuTrigger><i class="bi bi-card-list"></i>Group list</button>
                    <mat-menu #grouplist="matMenu">
                        <button mat-menu-item (click)="openGroup()">Group-A</button>
                        <button mat-menu-item (click)="openGroup()">Group-B</button>
                    </mat-menu> 
                </section>
                <section class="left_nav_sec">
                    <p><a href="#">
                        <i class="bi bi-building"></i>Organisation
                    </a></p>
                    <button mat-button><i class="bi bi-plus-circle"></i>Create organisation</button>
                    <button class="left_nav_menu" mat-button [matMenuTriggerFor]="menu"><i class="bi bi-card-list"></i>Internal Organisation</button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>organisation1</button>
                      <button mat-menu-item>Organisation 2</button>
                    </mat-menu> 
                    <button mat-button [matMenuTriggerFor]="menu"><i class="bi bi-card-list"></i>External Organisation</button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>organisation 3</button>
                      <button mat-menu-item>Organisation 4</button>
                    </mat-menu>
                </section>  
            </section>
        </div>
