<!-- Header Component Start -->
<app-header></app-header>
<!-- Footer End -->

<!-------Middle Start-------->
<div class="container-fluid">
  <div class="row">
    <div class="col-2 sidebar_main">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

  <!-- side sectioon -->
  
  <!-- side section -->
  <!-------Middle  Section Start-------->
  
    
  
  <!-------Middle  Section End-------->

<!-------Middle End-------->

<!-- Footer Component Start -->
<app-footer></app-footer>
<!-- Footer End -->
